# Dependencias locales
node_modules
npm-debug.log
yarn-error.log

# Archivos de configuración locales
.env
*.env.local

# Directorios de IDE
.vscode
.idea

# Archivos del sistema
.DS_Store
Thumbs.db

# Git y archivos relacionados
.git
.gitignore

# Otros
coverage
logs
*.log
*.swp
*.swo
